<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pfeiffer.created}}" ng-init="findOne()">
<ion-nav-buttons side="right">
      <a class="button" href="#/app/pfeiffers/{{pfeiffer._id}}/edit">
        Editar
      </a>
      <a class="button" href="#" ng-click="delete()">
        Eliminar
      </a>
    </ion-nav-buttons>
  <ion-content class="padding">
  
    
    <p>
            {{pfeiffer.date}}
            {{pfeiffer.weekDay}}
            {{pfeiffer.tnumber}}
            {{pfeiffer.tnumber}}
            {{pfeiffer.age}}
            {{pfeiffer.birthdate}}
            {{pfeiffer.currentPresident}}
            {{pfeiffer.lastPresident}}
            {{pfeiffer.motherLastName}}
            {{pfeiffer.result}}

    </p>
  </ion-content>
</ion-view>