<ion-view view-title="Tests de Pfeiffer realizados" ng-init="find()">
 <ion-nav-buttons side="right">
      <a class="button" href="#/app/addPfeiffer">
        Anadir nuevo Test
      </a>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="pfeiffer in pfeiffers | orderBy:'pfeiffer.created':true" href="#/app/pfeiffers/{{pfeiffer._id}}">
     {{pfeiffer.created|date:'MMM d, y'}} resultado:  {{diagnosticate(pfeiffer.result)}} 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
