<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{pfeiffer.created}}" ng-init="findOne()">
<ion-nav-buttons side="right">
      <a class="button" href="#/app/pfeiffers/{{pfeiffer._id}}/edit">
        Editar
      </a>
      <a class="button" href="#" ng-click="delete()">
        Eliminar
      </a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <h3>Resultados del test</h3>
  <h3>Fecha de Hoy</h3>
  <p data-ng-bind="pfeiffer.date"></p>
  <h3>Dia de la semana</h3>
  <p data-ng-bind="pfeiffer.weekDay"></p>
  <h3>Numero de telefono</h3>
  <p data-ng-bind="pfeiffer.tnumber"></p>
  <h3>Edad</h3>
  <p data-ng-bind="pfeiffer.age"></p>
  <h3>Fecha de Nacimiento</h3>
  <p data-ng-bind="pfeiffer.birthdate"></p>
  <h3>Presidente Actual</h3>
  <p data-ng-bind="pfeiffer.currentPresident"></p>
  <h3>Ultimo Presidente</h3>
  <p data-ng-bind="pfeiffer.lastPresident"></p>
  <h3>Apellido de madre</h3>
  <p data-ng-bind="pfeiffer.motherLastName"></p>
  <h3>Resta</h3>
  <p data-ng-bind="pfeiffer.substraction"></p>
  <h3>Resultado</h3>
  <p data-ng-bind="pfeiffer.result"></p>
  <h3>Diagnostico</h3>
  <p>{{diagnosticate(pfeiffer.result)}}</p>
  <h3>Realizado</h3>
  <p data-ng-bind="pfeiffer.created | date:'medium'"></p>
  </ion-content>
</ion-view>