<ion-view view-title="Menu">
  <ion-content>
   <div class="list">

  <a class="item item-icon-left" href="#/app/pfeiffers">
    <i class="icon ion-email"></i>
    Tests de pefiffer
  </a>
  <a class="item item-icon-left" href="#/app/mineria">
    <i class="icon ion-ios-lightbulb"></i>
    Mineria de Datos
  </a>

  <a class="item item-icon-left" href="#/app/reports">
    <i class="icon ion-ios-paper"></i>
    Reporte
  </a>

  <a class="item item-icon-left" href="#/app/maps">
    <i class="icon ion-ios-location"></i>
    Ubicacion
  </a>

  <a class="item item-icon-left" href="#/app/users">
    <i class="icon ion-person-stalker"></i>
    Usuarios
  </a>

</div>
  </ion-content>
</ion-view>
